header {
    max-width: 100%;
    background-color: lightslategray;
}

.siteTitle {
    text-align: center;
    color: lightgray;
}

.topColumn {
    display: flex;
    gap: 1em;
}

.topColumn > * {
    width: 100%;
}

#topLinks {
    display: none;
    font-style: italic;
    font-size: 10px;
    text-align: center;
}

.linkList li {
    list-style: none;
    display: inline-block;
    margin-top: 1.5em;
    font-size: 14px;
    padding: 5px;
}

#topNavMenu {
    float: right;
    max-width: 25px;
    max-height: 25px;
    padding-top: 27.44px;
    padding-right: 20px;
}

#topCancelMenu {
    max-width: 17px;
}


.bookTitle {
    text-align: center;
}

.bookAuthor {
    text-align: center;
}

.bookGenre {
    text-align: center;
    color: lightslategrey;
    font-style: italic;
}

.bookContainer {
    position: relative;
    width: 100%;
}

.bookContainer img {
    height: 100%;
    width: 100%;
    object-fit: contain;
    border: 2px solid rgba(144, 238, 144, 0.801);
    border-radius: 50px;
    padding: 5px;
}

.bottomColumn {
    float: left;
    width: 33.33%;
}

.bottomRow:after {
    content: "";
    display: table;
    clear: both;
}


#bottomNavMenu {
    display: block;
    float: right;
    max-width: 17px;
}

#bottomLinks {
    display: none;
    font-style: italic;
    font-size: 10px;
    text-align: center;
}

#cancelMenu {
    display: block;
    float: right;
    max-width: 17px;
}


footer {
    background-color: lightgray;
    padding: 3px 10px 3px 10px;
    max-width: 100%;
}